<h1>Chat Ecommerce</h1>

<div> 
    <input type="text" id="chatBox"></input>
</div>

<div>
    <p id="massageLogs"> </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script  src="/socket.io/socket.io.js"></script>
<script type="text/javascript"  src="/js/chat.js"></script> 