<h2>Recuperar contraseña</h2>

 <div class="container col-md-12">
<form id="forgotForm" method="post">
    <div class="container">
        
        <div class="row">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>
        </div>
        
    <div class="row">
        <div class="col-md-2 mt-2">
           <button type="submit" class="btn btn-primary" >Recuperar contraseña</button>
        </div> 

        </div>
                
            </div>
        </div>
    </form>
 </div>