<h2>Iniciar sesion</h2>

 <div class="container col-md-12">
<form id="loginForm" method="post">
    <div class="container">
        
        <div class="row">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
            </div>
        </div>
    <div class="row">
        <div class="col-md-2 mt-2">
           <button type="submit" class="btn btn-primary" >Iniciar Sesion</button>
        </div> 

        <div class="col-md-2 mt-2">
           <button type="submit" class="btn btn-warning" ><a href="/api/users/login/forgot">Recuperar contraseña</a></button>
        </div>

        <div class="col-md-2 mt-2">
           <button  type="submit" class="btn btn-warning" > <a href="/api/users/login/github"> Iniciar Sesion con Github</a></button>
        </div> 

        </div>
                
            </div>
        </div>
    </form>
 </div>