<h2>Restablecer contrase単a</h2>

    <div class="container col-md-12">
        <form id="resetForm" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" id="token" value="{{ token }}">
                        <label for="password" class="form-label">Nueva contrase単a:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="confirmPassword" class="form-label">Confirmar contrase単a:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 mt-2">
                        <button type="submit" class="btn btn-primary">Restablecer contrase単a</button>
                    </div> 
                </div>
            </div>
        </form>
    </div>

    