<h1>Ticket de compra</h1>
    <p><strong>Código del ticket:</strong> {{purchaseResult.code}}</p>
    <p><strong>Fecha:</strong> {{purchaseResult.purcharse_datetime}}</p>
    <p><strong>Comprador:</strong> {{purchaseResult.purchaser}}</p>
    <p><strong>Total de la compra:</strong> ${{purchaseResult.amount}}</p>